<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes.html">

<dom-module id="gestor-clientes2">

  <template>
  <link rel="stylesheet" href="css/index.css">

<div class="form-structor">
    <div class="signup">
    		<h2 class="form-title" id="signup"><span>o Ingresar</span></h2>
    			<div class="form-holder">
    				 <select class="input"  id="tipodocumento" name="documento" value="{{tipodocumento::input}}">
                <option value=" " disabled selected>-Elegir tipo de documento</option>
                <option value="L">DNI</option>
    						<option value="R">RUC</option>
    						<option value="P">Pasaporte</option>
    						<option value="E">Carnet de Extranjería</option>
    					</select>
    				<input type="text" class="input" placeholder="Número de Documento" value="{{numdocumento::input}}"/>
    				<input type="password" class="input" placeholder="Clave Web" value="{{claveweb::input}}"/>
    			</div>
    		<button on-click="validarLogin" class="submit-btn" >Entrar</button>
    	</div>

 <div class="login slide-up">
    <div class="center">
    <button on-click="ingresarCliente" class="submit-btn1"> Registrar </button>
    </div>
</div>
</div>

<paper-dialog id='messageGlobal' modal>
         <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
         <div class="{{messageStyle::input}}" role="alert">
           {{message::input}}
         </div>
</paper-dialog>

  </template>


  <script>
    class GestorClientes2 extends Polymer.Element {
      static get is() { return 'gestor-clientes2'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
           tipodocumento: {
             type: String,
             notify: true
           },
           numdocumento: {
             type: String,
             notify: true
           },
            claveweb: {
             type: String,
             notify: true
           },
           menu: {
            type: String,
            value:"00"
            },
            api: {
            type: Object
          },
          situacion: {
           type: String,
           value:"A"
           },
          er: {
            type: String,
            notify: true
          },
         nombres: {
           type: String,
           notify: true
         },
         idCliente: {
           type: String,
           notify: true
         }
        };
      }

      ingresarCliente(){
        this.dispatchEvent(
          new CustomEvent(
          "evaluamenu",
          {
            "detail" :{
              "menu" : "01"
                      }
          }
          )
        );
      }

      ingresarPrincipal(){
        this.dispatchEvent(

          new CustomEvent(
          "evaluamenu",
          {
            "detail" :{
              "menu" : "02",
              "api": this.clientes
                      }
          }
          )
        );


      }

      validarLogin(){
        if (this.tipodocumento==" " || this.tipodocumento==undefined || this.numdocumento== undefined || this.claveweb==undefined ){
          this.showError("Todos los campos son obligatorios");
        }else{
        var request = new XMLHttpRequest();
        const queryName=this.tipodocumento + '&' + this.numdocumento + '&' + this.claveweb + '&' + this.situacion;
        request.open("GET","http://localhost:3000/clienteLogin/"+ queryName ,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
       if(request.status == 200) {
        // this.nombres = this.clientes[0]["nombres"] + ' ' + this.clientes[0]["apepat"] + ' ' + this.clientes[0]["apemat"];
        // this.idCliente = this.clientes[0]["_id"];
        //    console.log(this.nombres);
        //    console.log(this.idCliente);
        this.ingresarPrincipal();
        }else{
           this.showError("Login Incorrecto");
        }
      }
      }

      showError(er) {
           this.message=er;
           this.messageStyle="alert alert-danger";
           this.$.messageGlobal.open();
     }

    }

    window.customElements.define(GestorClientes2.is, GestorClientes2);
  </script>
</dom-module>
