<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/agregar-usuario/agregar-usuario.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes2.html">
<link rel="import" href="/src/padre-principal/padre-principal.html">


<dom-module id="gestor-clientes">

  <template>
  <style>
   :host {
     display: block;
   }
  </style>

  <app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>

    <template is="dom-if" if="{{_isEqualTo(menu, '00')}}">
      <gestor-clientes2 api=[[api]] on-evaluamenu="EjecutaMenu"></gestor-clientes2>
    </template>

    <template is="dom-if" if="{{_isEqualTo(menu, '01')}}">
        <agregar-usuario api=[[api]] on-evaluamenu="EjecutaMenu"></agregar-usuario>
    </template>

    <template is="dom-if" if="{{_isEqualTo(menu, '02')}}">
        <padre-principal api=[[api]] on-evaluamenu="EjecutaMenu"></padre-principal>
    </template>


  </template>


  <script>

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
           menu: {
            type: String,
            value:"00"
            },
            api: {
            type: Object
          },
          prueba: {
           type: String
           }
        };
      }

      _isEqualTo(title, string) {
      return title == string;
      }

      EjecutaMenu(e){
            this.menu= e.detail.menu;
            this.api= e.detail.api;
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
