

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="/src/view-usuarios/view-movimientos.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.js" />
<dom-module id="view-cuentas">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <custom-style>
      <style is="custom-style">
          section {
            width: 100%;
            height: 300px;
            @apply --layout-vertical;
          }
          section paper-dialog-scrollable {
            @apply --layout-flex;
          }
          .header {
            padding: 8px 24px;
          }
          .footer {
            padding: 8px 24px;
            text-align: right;
          }
    </style>
</custom-style>

  <!--indefinido si no esta dentro del template-->
    <app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <div class="row" id="movim">

     <template is="dom-if" if="{{_isEqualTo(menu, '07')}}">
       <li>
       <a href="#" on-click="_changeMenu3" >Regresar</a>
       </li>

       <paper-input hidden="true" type="text" name="ctacargo" label="ctacargo" value="[[ctacargo]]" required ></paper-input>
       <paper-input hidden="true" type="text" name="index" label="index" value="[[index]]" required ></paper-input>


       <view-movimientos api=[[api]] ></view-movimientos>
     </template>
   </div>

<div class="col-md-12" id="divctas">
     <div class="signup">
            <h2 class="form-title" id="login"><span>Mis cuentas</span></h2>
          <section>

                <table class="table table-hover" id="tblcta">
                    <thead>
                      <tr>
                        <td hidden="true"></td>
                        <td  width="25%">Descripción </td>
                        <td  width="25%">Nro de Cuenta </td>
                        <td  width="15%">Moneda      </td>
                        <td  width="15%">Saldo       </td>
                        <td  width="20%">Movimientos </td>

                      </tr>
                    </thead>
                    <tbody>

                      <template id="listado" is="dom-repeat" items={{cuentas}}  as="cuentas" on-iron-select="_itemSelected">
                         <tr>
                          <td hidden="true"><paper-item>[[cuentas.index]]<paper-item></td>

                          <td  width="25%"><paper-item value="{{cuentas.descripcion}}">[[cuentas.descripcion]]</paper-item></td>
                          <td  width="25%"><paper-item value="{{cuentas.codigocuenta}}">[[cuentas.codigocuenta]]<paper-item></td>
                          <td  width="15%"><paper-item value="{{cuentas.moneda}}">[[cuentas.moneda]]<paper-item></td>
                          <td  width="15%"><paper-item value="{{cuentas.saldo}}">[[cuentas.saldo]]<paper-item></td>
                          <td  width="20%">
                            <!--a href="#" on-click="_changeMenu7" >Ir Movimientos</a-->
                            <a  href="#" on-click="_changeMenu7" >Ver Movimientos</a>
                          </td>
                        </tr>
                      </template>

                    </tbody>
                </table>

          </section>
         </div>

            </div>

     <paper-dialog id='messageGlobal' modal>
              <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
              <div class="{{messageStyle::input}}" role="alert">
                {{message::input}}
              </div>
     </paper-dialog>


  </template>

  <app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>


   <script>


  class ViewCuentas extends Polymer.Element {
        static get is()
        {
          return 'view-cuentas';
        }

        static get properties() {
          return {
         menu: {
          type: String,
          value:"03"
          },
          api: {
            type: Object
          },
          cuentas: {
            type: Array,
            notify: true
          },
            numdocumento:{
              type: String
            },
            datos: {
              type: Array,
              notify: true
            },
           er: {
             type: String,
             notify: true
           }

       };
     }

     showError(er) {
          this.message=er;
          this.messageStyle="alert alert-danger";
          this.$.messageGlobal.open();
    }

    _changeMenu7(e) {
      //Polymer.dom(this.root).querySelector("#listado");
     var app = Polymer.dom(this.root).querySelector("#listado");
     console.log(app);
     var item = this.$.listado.itemForElement(e.target);
     console.log(item);
     //this.$.selector.select(item);

     this.menu= "07";
     this.$.divctas.hidden=true;
     this.$.movim.hidden=false;
     this.ctacargo=item.codigocuenta;
     console.log(this.ctacargo);
     //console.log(this.api["0"].email);
     this.api["0"].email = this.ctacargo;
     console.log(this.api["0"].email);
     }

     _changeMenu3() {
      this.menu= "03";
      this.$.movim.hidden=true;
      this.$.divctas.hidden=false;
      this.movimientos =  {}
      }

     _isEqualTo(title, string) {
     return title == string;
     }

     _itemSelected(e) {
        var selectedItem = e.target.selectedItem.getAttribute("value");
        //this.idProducto = selectedItem;

      }

     //setTimeout(() => function() { ready(); }, 3000);

     ready() {

         super.ready();
         //super.PadrePrincipal;
         var request = new XMLHttpRequest();

         var id = this.api[0]._id.$oid;
         console.log(this.api);
         const queryName=id;

         request.open("GET","http://localhost:3000/cuentas/"+ queryName ,false);

         request.setRequestHeader("Accept","application/json");
         request.send();

         //console.log(request.generateRequest())
         //setTimeout(() => this.request.send, 5000);
         //setTimeout(() => function () { request.send();  }, 3000);
         console.log(request.status);
         this.cuentas = JSON.parse(request.responseText);
         if(request.status == 200) {
             console.log(this.cuentas);

          }else{
             this.showError("No se tiene cuentas afiliadas");
          }

     }




     verMovimientos(){
       alert('entre')
       this.dispatchEvent(

         new CustomEvent(
         "evaluamenu",
           {
             "detail" :{
               "menu" : "07"
                       }
           }
         )
       );
     }

     obtenerMovimientos(idx){
      var request = new XMLHttpRequest();
        console.log(this.cuentas);
      var id = this.cuentas[2].codigocuenta;

        console.log(this.cuentas);
            console.log(this.cuentas.selectedIndex);
            console.log(this.cuentacargo);
                console.log(this.items);

      var idx = this.cuentas.selectedIndex

      const queryName=id;
      // const queryName="001104560200567890";
      request.open("GET","http://localhost:3000/movimientos/"+ queryName ,false);

      request.setRequestHeader("Accept","application/json");
      request.send();

      this.movimientos = JSON.parse(request.responseText);
       console.log(request.status);
      if(request.status == 200) {
        if(  this.movimientos.length!=0){
            console.log(this.movimientos);

        }else{
            this.showError("A:No se tiene movimientos");

        }

       }else{
         console.log(request.status);
         console.log(this.movimientos);
          this.showError("E:No se tiene movimientos");
       }

    }


   }
   window.customElements.define(ViewCuentas.is, ViewCuentas);

   </script>
</dom-module>
