<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="view-transferencias">
  <template>
  <style>
  :host {
    display: block;
  }
    .form-structor1 {
      border-radius: 15px;
      height: 400px;
      width: 700px;
      position: relative;
      overflow: hidden;
      left: 5%;
       border:1;
    }

    .form-structor1 .signup {
       position: absolute;
       top: 30%;
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       width: 65%;
       z-index: 5;
       -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-title {
        font-size: 1.7em;
        text-align: center;
    }
    .form-structor1 .signup .form-title span {
        color: rgba(0, 0, 0, 0.4);

    }
    .form-structor1 .signup .form-holder {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-holder .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 12px;
    }

    .form-structor1 .login .center {
        position: absolute;
        top: calc(100% - 10%);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 50%;
        z-index: 5;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .login .center .submit-btn {
        background-color: #6B92A4;
        color: rgba(255, 255, 255, 0.7);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 5px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;

    }
    .form-structor1 .login .center .submit-btn:hover {
                transition: all .3s ease;
                background-color: rgba(0,0,0,0.8);
              }

  </style>

  <div class="form-structor1">
    <div class="signup">
        <h2 class="form-title" id="login"><span>Realizar Transferencias</span></h2>
        <div class="form-holder">

          <select  id="ctacargo" class="input"  name="tipoCuenta" value="">
                <option value="">Cuenta de Cargo</option>
                <template is="dom-repeat" items={{cuentas}} >
                   <option value$="[[item.codigocuenta]]">[[item.codigocuenta]]</option>
                 </template>
               </dom-repeat>
           </select>
           <input type="text" class="input" id="ctaabono" placeholder="Cuenta de Abono" value="0011-0199-5681838102" required>
           <select class="input" id="moneda"  name="moneda" value="">
              <option value="PEN">Soles</option>
              <option value="USD">Dólares</option>
           </select>
            <input type="text" class="input" id="monto" placeholder="Monto" value="" required>
            <input type="text" class="input" id="descripcion" placeholder="Descripción" value="" required>
        </div>

  </div>

  <div class="login">
     <div class="center">
             <button on-click="ValidarCuenta" class="submit-btn" >Transferir</button>
     </div>
   </div>

   <paper-dialog id='messageGlobal' modal>
            <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
            <div class="{{messageStyle::input}}" role="alert">
              {{message::input}}
            </div>
   </paper-dialog>

</template>

<app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>

<paper-input hidden="true" type="text" name="fechaMov" label="fechaMov" value="[[fechaMov]]" required ></paper-input>
<paper-input hidden="true" type="text" name="horaMov" label="horaMov" value="[[horaMov]]" required ></paper-input>
<paper-input hidden="true" type="text" name="saldod" label="saldod" value="[[saldod]]" required ></paper-input>


 <script>

  class ViewTranferencias extends Polymer.Element {
        static get is() { return 'view-transferencias'; }
        static get properties() {
          return {
         menu: {
          type: String,
          value:"04"
          },
          api: {
            type: Object
          },
          detalle: {
            type: Array,
            notify: true
          }
       };
     }

     showError(er) {
          this.message=er;
          this.messageStyle="alert alert-danger";
          this.$.messageGlobal.open();
    }

     ready() {
     super.ready();
     var request = new XMLHttpRequest();
     var id = this.api[0]._id.$oid;
     console.log(this.api);
     const queryName=id;

     request.open("GET","http://localhost:3000/cuentas/"+ queryName ,false);

     request.setRequestHeader("Accept","application/json");
     request.send();

     this.cuentas = JSON.parse(request.responseText);
     console.log(request.status);
     if(request.status == 200) {
         console.log(this.cuentas);

      }else{
         this.showError("No se tiene cuentas afiliadas");
      }

    }

    obtenerFechaMov(){
       var today = new Date();
       var dd = today.getDate();
       var mm = today.getMonth()+1;
       var yyyy = today.getFullYear();

       var hh = today.getHours();
       var mi = today.getMinutes();
       var ss = today.getSeconds();

       if(dd<10) {
           dd = '0'+ dd
       }
       if(mm<10) {
           mm = '0'+ mm
       }
       if(hh<10) {
           hh = '0'+ hh
       }
       if(mi<10) {
           mi = '0'+ mi
       }
       if(ss<10) {
           ss = '0'+ ss
       }
       today = mm + '-' + dd + '-' + yyyy;
       this.fechaMov = today;
       this.horaMov  = hh + ':' + mi + ':' + ss;

     }

     ValidarCuenta(){
       var request = new XMLHttpRequest();

        var idx = this.$.ctacargo.selectedIndex
       var ctacargo = this.$.ctacargo[idx].value
       var ctaabono = this.$.ctaabono.value
       var moneda   = this.$.moneda.value
       var importe  = this.$.monto.value

          var id = this.api[0]._id.$oid;
        console.log(this.api);

        const queryName=ctacargo + '&' + importe + '&' + ctaabono;

        request.open("GET","http://localhost:3000/saldocta/"+ queryName ,false);

        request.setRequestHeader("Accept","application/json");
        request.send();

        var body = JSON.parse(request.responseText);

        console.log(request.status);
        if(request.status == 200) {
          console.log( body[0].saldo);
            var saldo  = body[0].saldo;
            var estado = body[0].estadocuenta;
             this.saldod  = body[0].saldo;

            if(saldo>=importe & estado=='A'){
                        this.registrarMov();

                  }else{
                     this.showError("No cuenta con saldo disponible");

                  }

         }else{
            this.showError("Operación no completada");
         }

     }

     registrarMov(){

       var request = new XMLHttpRequest();
       this.obtenerFechaMov();

       var idx = this.$.ctacargo.selectedIndex
       var ctacargo = this.$.ctacargo[idx].value
       var ctaabono = this.$.ctaabono.value
       var moneda   = this.$.moneda.value
       var importe  = this.$.monto.value
       var descripcion =  this.$.descripcion.value
       var referencia =  'CTA' + this.$.ctaabono.value

       var nuevoMov={"cuentaabono":ctaabono,"cuentacargo":ctacargo,
                      "nromovimiento":"1","tipoperacion":"T",
                      "moneda":moneda, "comisiones":0,
                      "importe":importe, "fechaoperacion":this.fechaMov,
                      "horaoperacion":this.horaMov,"referencia":referencia};

       request.open("POST","http://localhost:3000/ingresarMov/" ,false);
       request.setRequestHeader("Accept","application/json");
       request.setRequestHeader("Content-Type","application/json");

       var body = JSON.stringify(nuevoMov);
       request.send(body);
       this.respuesta = request.responseText;
       console.log(this.respuesta);
       if(request.status == 201) {
           //this.actualizarCuenta();
           this.showError("Transferencia realizada");
           this.limpiar();
        }else{
           this.showError("Error en transferencia, revisar los datos");
        }
     }

     actualizarCuenta(){

           var request = new XMLHttpRequest();
           var idxc = this.$.ctacargo.selectedIndex
           const queryName=this.$.ctacargo[idxc].value;

           var dald= this.saldod;
           var nuevoCuenta={
                             "saldo":5000
                           };
   console.log(nuevoCuenta);

           request.open("PUT","http://localhost:3000/updateCuenta/" + queryName ,false);
           request.setRequestHeader("Accept","application/json");
           request.setRequestHeader("Content-Type","application/json");
   console.log(queryName);
            var body = JSON.stringify(nuevoCuenta);
console.log(body);
           request.send(body);

           this.respuesta = request.responseText;

           if(request.status == 200) {
          //     this.showError("Datos del cliente actualizado correctamente");
              this.showError("Transferencia realizada");
            }else{
          //     this.showError("Datos del Cliente no fueron actualizados");
               this.showError("Error en transferencia, revisar los datos");
            }

     }

     limpiar(){
       this.$.ctaabono.value = "";
       this.$.moneda.value = "";
       this.$.ctacargo.value = "";
       this.$.monto.value = "";
       this.$.descripcion.value="";
     }


   }
   window.customElements.define(ViewTranferencias.is, ViewTranferencias);

   </script>
</dom-module>
