<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="view-usuarios">
<template>
  <style>
  :host {
    display: block;
  }
    .form-structor1 {
    	border-radius: 15px;
    	height: 400px;
    	width: 700px;
    	position: relative;
    	overflow: hidden;
      left: 5%;
       border:1;
    }

    .form-structor1 .signup {
       position: absolute;
       top: 35%;
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       width: 65%;
       z-index: 5;
       -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-title {
        font-size: 1.7em;
        text-align: center;
    }
    .form-structor1 .signup .form-title span {
        color: rgba(0, 0, 0, 0.4);

    }
    .form-structor1 .signup .form-holder {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-holder .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 12px;
    }

    .form-structor1 .signup .form-holder .input:read-only {
        background-color: #6B92A4;
    }

    .form-structor1 .login .center {
        position: absolute;
        top: calc(100% - 10%);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 50%;
        z-index: 5;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .login .center .submit-btn {
        background-color: #6B92A4;
        color: rgba(255, 255, 255, 0.7);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 5px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;

    }
    .form-structor1 .login .center .submit-btn:hover {
                transition: all .3s ease;
                background-color: rgba(0,0,0,0.8);
              }

  </style>

<app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>

<div class="form-structor1">
  <div class="signup">
      <h2 class="form-title" id="login"><span>Gestión de Usuarios</span></h2>
      <div class="form-holder">
          <input type="text" class="input" id="InputNombres" placeholder="Nombres" value="{{api.0.nombres::input}}" readonly>
          <input type="text" class="input" id="InputApePat" placeholder="Apellido Paterno" value="{{api.0.apepat::input}}" readonly>
          <input type="text" class="input" id="InputApeMat" placeholder="Apellido Materno" value="{{api.0.apemat::input}}" readonly>
          <input type="email" class="input" id="InputEmail" placeholder="Email" value="{{api.0.email::input}}" required>
          <input type="password" class="input" id="InputClaveWeb" placeholder="Clave Web" value="{{api.0.claveweb::input}}" required>
      </div>

</div>

<div class="login">
   <div class="center">
         <button on-click="actualizarUsuario" class="submit-btn" >Modificar Usuario</button>
   </div>
 </div>

 <paper-dialog id='messageGlobal' modal>
          <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
          <div class="{{messageStyle::input}}" role="alert">
            {{message::input}}
          </div>
 </paper-dialog>

</template>
<script>

class ViewUsuarios extends Polymer.Element {
        static get is() { return 'view-usuarios'; }
        static get properties() {
          return {
            clientes: {
              type: Array,
              notify: true
            },
            menu: {
             type: String,
             value:"06"
             },
             api: {
               type: Object
          },
          idcliente: {
              type: String
          }
          };
        }

        showError(er) {
             this.message=er;
             this.messageStyle="alert alert-danger";
             this.$.messageGlobal.open();
       }

       validarEmail(email){
            var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email) ? true : false;
        }

        actualizarUsuario(){

        if (this.api[0].email ==" " || this.api[0].claveweb==""){
            this.showError("Los campos Email y Clave Web son obligatorios");
        }else{
            if (this.validarEmail(this.api[0].email) == false){
              this.showError("Ingrese formato de email correcto");
            }else{
                var request = new XMLHttpRequest();
                this.idcliente = this.api[0]._id.$oid;
                const queryName=this.idcliente;

                var nuevoCliente={
                                  "tipodocumento":this.api[0].tipodocumento,
                                  "numdocumento":this.api[0].numdocumento,
                                  "nombres":this.api[0].nombres,
                                  "apepat":this.api[0].apepat,
                                  "apemat":this.api[0].apemat,
                                  "email":this.api[0].email,
                                  "claveweb":this.api[0].claveweb,
                                  "situacion":"A"};

                var body = JSON.stringify(nuevoCliente);

                request.open("PUT","http://localhost:3000/updateCliente/" + queryName ,false);
                request.setRequestHeader("Accept","application/json");
                request.setRequestHeader("Content-Type","application/json");

                request.send(body);

                this.respuesta = request.responseText;

                if(request.status == 200) {
                    this.showError("Datos del cliente actualizado correctamente");
                 }else{
                    this.showError("Datos del Cliente no fueron actualizados");
                 }

           }

         }
        }
  }

window.customElements.define(ViewUsuarios.is, ViewUsuarios);

</script>
</dom-module>
