<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="view-aperturas">
  <template>
  <style>
  :host {
    display: block;
  }
    .form-structor1 {
    	border-radius: 15px;
    	height: 400px;
    	width: 700px;
    	position: relative;
    	overflow: hidden;
      left: 5%;
       border:1;
    }

    .form-structor1 .signup {
       position: absolute;
       top: 30%;
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       width: 65%;
       z-index: 5;
       -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-title {
        font-size: 1.7em;
        text-align: center;
    }
    .form-structor1 .signup .form-title span {
        color: rgba(0, 0, 0, 0.4);

    }
    .form-structor1 .signup .form-holder {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .signup .form-holder .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 50px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 12px;
    }
    .form-structor1 .login .center {
        position: absolute;
        top: calc(80% - 10%);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 50%;
        z-index: 5;
        -webkit-transition: all .3s ease;
    }
    .form-structor1 .login .center .submit-btn {
        background-color: #6B92A4;
        color: rgba(255, 255, 255, 0.7);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 5px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;

    }
    .form-structor1 .login .center .submit-btn:hover {
                transition: all .3s ease;
                background-color: rgba(0,0,0,0.8);
              }

  </style>

<app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>

  <div class="form-structor1">
    <div class="signup">
        <h2 class="form-title" id="login"><span>Apertura de Cuentas</span></h2>
        <div class="form-holder">
          <select class="input" id="tipoCuenta"  name="tipoCuenta" value="{{tipocuenta::input}}">
             <option value=" " disabled selected>-Elegir tipo de Cuenta</option>
             <option value="CGAN">Cuenta Ganadora</option>
             <option value="CFAC">Cuenta Fácil</option>
             <option value="CIND">Cuenta Independencia</option>
             <option value="CSUE">Cuenta Sueldo</option>
           </select>
           <select class="input"  name="moneda" value="{{moneda::input}}">
              <option value=" " disabled selected>-Elegir Moneda</option>
              <option value="PEN">Soles</option>
              <option value="DOL">Dólares</option>
           </select>

        </div>

  </div>

  <div class="login">
     <div class="center">
             <button on-click="aperturarCuenta" class="submit-btn" >Aperturar Cuenta</button>
     </div>
   </div>

   <paper-dialog id='messageGlobal' modal>
            <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
            <div class="{{messageStyle::input}}" role="alert">
              {{message::input}}
            </div>
   </paper-dialog>

  </template>
  <script>

  class ViewAperturas extends Polymer.Element {
        static get is() { return 'view-aperturas'; }
        static get properties() {
          return {
         menu: {
          type: String,
          value:"05"
          },
          api: {
            type: Object
          },
        idcliente: {
            type: String
        },
          codigocuenta: {
            type: String
        },
          tipocuenta: {
            type: String
        },
          moneda: {
            type: String
         },
         saldo: {
           type: Number,
           value:0
         },
         estadocuenta: {
          type: String,
          value:"A"
          },
         er: {
           type: String,
           notify: true
         },
         param: {
             type: String,
             value : '0011-0199-'
           },
       };
     }

     ready() {

       super.ready();
    
     }

     showError(er) {
          this.message=er;
          this.messageStyle="alert alert-danger";
          this.$.messageGlobal.open();
    }

    generarNumeroCuenta() {
       let max = 9999999999;
       let min = 1020548080;
       var nroCuenta = parseInt(Math.random() * (max - min) + min);
       nroCuenta = this.param + nroCuenta.toString();
       this.codigocuenta = nroCuenta;
       this.idcliente = this.api[0]._id.$oid;
     }

    aperturarCuenta(){
      if (this.tipocuenta==" " || this.tipocuenta==undefined || this.moneda==" " || this.moneda==undefined)
      {
        this.showError("Todos los campos son obligatorios");
      }else{
      this.generarNumeroCuenta();


      var request = new XMLHttpRequest();
      var nuevaCuenta={"idcliente":this.idcliente,"codigocuenta":this.codigocuenta,"tipocuenta":this.tipocuenta,
                        "descripcion":this.$.tipoCuenta[this.$.tipoCuenta.options.selectedIndex].innerHTML,"moneda":this.moneda, "saldo":this.saldo,"estadocuenta":this.estadocuenta};

      request.open("POST","http://localhost:3000/aperturarCuenta/" ,false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");

      var body = JSON.stringify(nuevaCuenta);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      if(request.status == 201) {
          this.showError("Se aperturó cuenta");
       }else{
          this.showError("Cuenta no se pudo aperturar");
       }
    }
    }

   }
   window.customElements.define(ViewAperturas.is, ViewAperturas);

   </script>
</dom-module>
