<dom-module id="view-movimientos">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<center>


<div class="col-md-12">

       <div class="signup">
              <h2 class="form-title" id="login"><span>Mis Movimientos</span></h2>
            <section>
             <table class="table table-hover text-center"  >
                 <thead>
                   <tr>
                     <td  width="10%">nromov</td>
                     <td  width="20%">fechaoperacion</td>
                     <td  width="25%">referencia</td>
                     <td  width="15%">moneda</td>
                     <td  width="20%">importe</td>
                   </tr>
                 </thead>
                 <tbody>

                   <template is="dom-repeat" items={{movimientos}} >
                     <tr>
                       <td>[[item.nromovimiento]]</td>
                       <td>[[item.fechaoperacion]]</td>
                       <td>[[item.referencia]]</td>
                       <td>[[item.moneda]]</td>
                       <td>[[item.importe]]</td>
                     </tr>
                   </template>

                 </tbody>
             </table>
             </section>
           </div>

  </div>

  </center>
         <paper-dialog id='messageGlobal' modal>
                  <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
                  <div class="{{messageStyle::input}}" role="alert">
                    {{message::input}}
                  </div>
         </paper-dialog>

      </template>

      <app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>


  <script>

  class ViewMovimientos extends Polymer.Element {
        static get is() { return 'view-movimientos'; }
        static get properties() {
          return {
         menu: {
          type: String,
          value:"07"
          },
          movimientos: {
            type: Object,
            value:{}
          },
          api: {
            type: Object
       }
       };
     }

     ready() {

       super.ready();
       super.ViewCuentas;

       this.obtenerMovimientos();
     }

     obtenerMovimientos(){
      var request = new XMLHttpRequest();
      const queryName=this.api["0"].email;
      request.open("GET","http://localhost:3000/movimientos/"+ queryName ,false);
    //  request.open("GET","http://localhost:3000/movimientos/" ,false);
      request.setRequestHeader("Accept","application/json");
      request.send(); 
      this.movimientos = JSON.parse(request.responseText);

      if(request.status == 200) {
        if(  this.movimientos.length!=0){
            console.log(this.movimientos);

        }else{
            this.showError("A:No se tiene movimientos");

        }

       }else{
         console.log(request.status);
         console.log(this.movimientos);
          this.showError("E:No se tiene movimientos");
       }
     }


     showError(er) {
          this.message=er;
          this.messageStyle="alert alert-danger";
          this.$.messageGlobal.open();
    }
  }
   window.customElements.define(ViewMovimientos.is, ViewMovimientos);

   </script>
</dom-module>
