<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="agregar-usuario">
  <template>
  <style>
    :host {
    display: block;
    }

   .form-structor1{
    background-color: #d7dfe4;
   	border-radius: 15px;
   	height: 550px;
   	width: 350px;
   	position: relative;
   	overflow: hidden;
   }
   .form-structor1::after {

    opacity: .8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 500px;
    }

   .form-structor1 .signup {
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      width: 65%;
      z-index: 5;
      -webkit-transition: all .3s ease;
   }
   .form-structor1 .signup .form-title {
       font-size: 1.7em;
       text-align: center;
   }
   .form-structor1 .signup .form-title span {
       color: rgba(0, 0, 0, 0.4);

   }
   .form-structor1 .signup .form-holder {
       border-radius: 15px;
       background-color: #fff;
       overflow: hidden;
       margin-top: 20px;
       opacity: 1;
       visibility: visible;
       -webkit-transition: all .3s ease;
   }
   .form-structor1 .signup .form-holder .input {
       border: 0;
       outline: none;
       box-shadow: none;
       display: block;
       height: 30px;
       line-height: 30px;
       padding: 8px 15px;
       border-bottom: 1px solid #eee;
       width: 100%;
       font-size: 12px;
   }
   .form-structor1 .login .center {
       position: absolute;
       top: calc(100% - 10%);
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       width: 60%;
       z-index: 5;
       -webkit-transition: all .3s ease;
   }
   .form-structor1 .login .center .submit-btn {
       background-color: #6B92A4;
       color: rgba(255, 255, 255, 0.7);
       border: 0;
       border-radius: 15px;
       display: block;
       margin: 5px auto;
       padding: 15px 45px;
       width: 100%;
       font-size: 13px;
       font-weight: bold;
       cursor: pointer;
       opacity: 1;
       visibility: visible;
       -webkit-transition: all .3s ease;

   }
   .form-structor1 .login .center .submit-btn:hover {
               transition: all .3s ease;
               background-color: rgba(0,0,0,0.8);
             }
 </style>

  <link rel="stylesheet" href="css/index.css">

    <div class="form-structor1">
    <div class="signup">
        <h2 class="form-title" id="login"><span>Registrarse</span></h2>
        <div class="form-holder">
             <select name="tipodocumento" id="tipodocumento"  class="input"  value="{{tipodocumento::input}}">
                <option value=" " disabled selected>-Elegir tipo de documento</option>
                <option value="L">DNI</option>
                <option value="R">RUC</option>
                <option value="P">Pasaporte</option>
                <option value="E">Carnet de Extranjería</option>
              </select>
            <input type="text" class="input" id="Inputdocumento" placeholder="Número de Documento" value="{{numdocumento::input}}"/>
            <input type="text" class="input" id="InputNombres" placeholder="Nombres" value="{{nombres::input}}" required>
            <input type="tex" class="input" id="InputApePat" placeholder="Apellido Paterno" value="{{apepat::input}}" required>
            <input type="text" class="input" id="InputApeMat" placeholder="Apellido Materno" value="{{apemat::input}}" required>
            <input type="email" class="input" id="InputEmail" placeholder="Email" value="{{email::input}}" required>
            <input type="password" class="input" id="InputClaveWeb" placeholder="Clave Web" value="{{claveweb::input}}">
     </div>
     </div>
     <div class="login">
        <div class="center">
        <button on-click="validarCliente" class="submit-btn" >Aceptar</button>
        <button on-click="RegresarLogin" class="submit-btn" >Regresar</button>
        </div>
      </div>


</div>

<paper-dialog id='messageGlobal' modal>
         <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
         <div class="{{messageStyle::input}}" role="alert">
           {{message::input}}
         </div>
</paper-dialog>


</template>

  <script>

    class AgregarUsuario extends Polymer.Element {
      static get is() { return 'agregar-usuario'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          menu: {
           type: String,
           value:"01"
           },
           api: {
           type: Object
         },
         tipodocumento: {
           type: String,
           notify: true
         },
         numdocumento: {
           type: String,
           notify: true
         },
         nombres: {
           type: String,
           notify: true
         },
         apepat: {
           type: String,
           notify: true
         },
         apemat: {
           type: String,
           notify: true
         },
         email: {
           type: String,
           notify: true
         },
         claveweb: {
           type: String,
           notify: true
         },
         situacion: {
          type: String,
          value:"A"
          },
         er: {
           type: String,
           notify: true
         }
        };
      }

      RegresarLogin(){
        this.dispatchEvent(
          new CustomEvent(
          "evaluamenu",
          {
            "detail" :{
              "menu" : "00"
                      }
          }
          )
        );

      }

      showError(er) {
           this.message=er;
           this.messageStyle="alert alert-danger";
           this.$.messageGlobal.open();
     }

     validarEmail(email){
        var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email) ? true : false;
      }

      validarCliente(){
      if (this.tipodocumento==" " || this.tipodocumento==undefined || this.numdocumento== undefined || this.nombres==undefined || this.apepat==undefined || this.apemat==undefined || this.email==undefined || this.claveweb==undefined ){
        this.showError("Todos los campos son obligatorios");
      }else{

        if (this.validarEmail(this.email) == false){
          this.showError("Ingrese formato de email correcto");
        }else{

          var request = new XMLHttpRequest();
          const queryName=this.tipodocumento + '&' + this.numdocumento + '&' + "A";
          request.open("GET","http://localhost:3000/clienteConsulta/"+ queryName ,false);
          request.setRequestHeader("Accept","application/json");
          request.send();
          if(request.status == 201) {
              this.registrarCliente();
            }else{
            this.showError("Usuario ya Existe");
          }

        }
      }
      }

      registrarCliente(){
        var request = new XMLHttpRequest();
        var nuevoCliente={"tipodocumento":this.tipodocumento,"numdocumento":this.numdocumento,"nombres":this.nombres,
                          "apepat":this.apepat,"apemat":this.apemat, "email":this.email,"claveweb":this.claveweb,"situacion":this.situacion};

        request.open("POST","http://localhost:3000/clientesinsert/" ,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        if(request.status == 201) {
            this.showError("Cliente fue insertado correctamente");
         }else{
            this.showError("Cliente no fue insertado correctamente, revisar los datos");
         }
      }
    }

    window.customElements.define(AgregarUsuario.is, AgregarUsuario);

  </script>
</dom-module>
