<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="/src/view-usuarios/view-cuentas.html">
<link rel="import" href="/src/view-usuarios/view-transferencias.html">
<link rel="import" href="/src/view-usuarios/view-usuarios.html">
<link rel="import" href="/src/view-usuarios/view-aperturas.html">
<link rel="import" href="/src/view-usuarios/view-movimientos.html">

<dom-module id="padre-principal">

<template>
  <style>
    :host {
      display: block;
    }

    #main {
     min-height: 400px;
     margin: 0px;
     padding: 0px;
     display: -webkit-flex;
     display:         flex;
     -webkit-flex-flow: row;
             flex-flow: row;
     }

    #main > article {
     margin: 4px;
     padding: 5px;
     border: 1px solid #fff;
     border-radius: 7pt;
     background: #fff;
     -webkit-flex: 3 1 60%;
             flex: 3 1 60%;
     -webkit-order: 2;
             order: 2;
     }

    header {
         display: block;
         margin: 4px;
         padding: 5px;
         max-height: 70px;
         border: 1px solid #222;
         background: #222;
         border-radius: 15px;
     }

    /* Too narrow to support three columns */
    @media all and (max-width: 500px) {
     #main, #page {
      -webkit-flex-flow: column;
              flex-flow: column;
     }

     #main > article,  #main > aside {
      /* Return them to document order #main > nav, */
      -webkit-order: 0;
              order: 0;
     }

     #main > aside, header {
       /*  #main > nav, Return them to document order #main > nav, */

      min-height: 50px;
      max-height: 50px;
     }
    }

    .form-structor1 {
    	background-color: #E1E8EE;
    	border-radius: 15px;
    	height: 500px;
    	width: 1000px;
    	position: relative;
    	overflow: hidden;
    }

    .navbar .nav>li.dropdown.open.active>a:hover,
    .navbar .nav>li.dropdown.open>a,
    li a:hover,
    li.active>a {
	     color: #fff !important;
	      background-color: rgb(10, 66, 117) !important;
      }

      /*----- Sidebar -----*/

    .profile-sidebar {
  	 background-color: rgb(35, 35, 35);
  	 height: 146vh;
  	 border-right: 1px solid black;
  	 margin-top: 0 !important;
     border-radius: 7pt;
     margin-left: -11px;
    }

    .profile-userpic {
  	   padding-top: 40px;
    }

    .profile-userpic img {
  	   margin: 0 auto;
  	 width: 70%;
  	 height: 70%;
    }

    .profile-user {
  	   text-align: center;
  	    margin-top: 20px;
      }

      .profile-name {
  	     color: #93a3b5;
  	      font-size: 16px;
  	       font-weight: 600;
  	        padding-bottom: 10px;
          }

    .profile-menu {
  	margin-top: 4px;
    }

    .profile-menu ul li a {
  	color: #93a3b5;
  	font-size: 14px;
  	font-weight: 400;
  	padding-left: 40px;
  	border-bottom: 1px solid black;
    }

    .profile-menu ul li a i {
  	margin-right: 9px;
  	font-size: 14px;
    }

    img {
      display: block;
      width: 145%;
      border-radius: 15pt;
      margin-left: -29px;
      margin-top: -3px;
      position: relative;
      overflow: hidden;
    }

    /*----- End Sidebar -----*/
  </style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<app-localstorage-document key="data.local" data="{{api}}"></app-localstorage-document>

<div class="form-structor1" >

   <body>
     <header>
    <!-- Nav -->
    		<nav class="navbar navbar-inverse navbar-static-top">
    			<div class="container margin-left-nav">
    				<div class="row">
    					<div class="col-md-2 col-sm-2">
    						<!-- Navbar brand (Brainiac) y botón colapsable -->
    						<div class="navbar-header">
                  <img src="https://s3-us-west-1.amazonaws.com/demobucketp019296/Imagenes/logobbva.jpg">
    						</div>
    					</div>

              <div class="col-md-8 col-sm-8">
    						<div class="navbar-collapse collapse" id="navbar-main">
    							<ul class="nav navbar-nav navbar-right horizontal">
    								<li><a href="#">Bienvenido {{api.0.nombres}} {{api.0.apepat}}  {{api.0.apemat}} </a></li>
    							</ul>
    						</div>
    					</div>
    			</div>
    			</div>
    		 </nav>

  </header>

    <div id='main'>
     <div class="col-md-3">
				<div class="profile-sidebar">
					<!-- Sidebar menu -->
					<nav class="profile-menu">
						<ul class="nav navbar vertical">
							<li>
								<a href="#" on-click="_changeMenu3" >Cuentas</a>
							</li>
							<li>
								<a href="#" on-click="_changeMenu4" >Transferencias</a>
							</li>
							<li>
								<a href="#" on-click="_changeMenu5" >Aperturar Cuenta</a>
                </li>
							<li>
								<a href="#" on-click="_changeMenu6" >Gestión de Usuario</a>
							</li>
              <li>
								<a href="#" on-click="RegresarLogin" >Salir</a>
							</li>
						</ul>
					</nav>

			</div>
		</div>

     <article>
       <div class="row">

         <template is="dom-if" if="{{_isEqualTo(menu, '03')}}">
             <view-cuentas api=[[api]] ></view-cuentas>
         </template>

         <template is="dom-if" if="{{_isEqualTo(menu, '04')}}">
           <view-transferencias api=[[api]] ></view-transferencias>
         </template>

         <template is="dom-if" if="{{_isEqualTo(menu, '05')}}">
             <view-aperturas api=[[api]] ></view-aperturas>
         </template>

         <template is="dom-if" if="{{_isEqualTo(menu, '06')}}">
           <view-usuarios api=[[api]] ></view-usuarios>
         </template>

      </div>
    </article>

  </div>
</div>
</template>


<script>


class PadrePrincipal extends Polymer.Element {
        static get is() { return 'padre-principal'; }
        static get properties() {
          return {
            menu: {
             type: String,
             value:"00"
             },
             api: {
               type: Object
             },
             nombres: {
               type : String
             },
             apepat: {
               type : String
             },
             prueba: {
              type: String
              }
       };
     }

     _isEqualTo(title, string) {
     return title == string;
     }

     _changeMenu3() {
       this.menu= "03";
       }

      _changeMenu4() {
       this.menu= "04";
       }

     _changeMenu5() {
       this.menu= "05";
       }

      _changeMenu6() {
       this.menu= "06";
       }

       RegresarLogin(){
         this.dispatchEvent(
           new CustomEvent(
           "evaluamenu",
           {
             "detail" :{
               "menu" : "00"
                       }
           }
           )
         );
         this.limpiar();

       }

       limpiar(){

          location.reload();
       }

}

window.customElements.define(PadrePrincipal.is, PadrePrincipal);

</script>
</dom-module>
