<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/view-usuarios/view-usuarios.html">
<link rel="import" href="/src/view-usuarios/view-aperturas.html">
<!-- <link rel="import" href="../login-usuario/login-usuario.html"> -->

<dom-module id="prueba-ejemplo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="jumbotron">
      <h1>TEST IRON PAGES</h1>
    </div>
    <input type="text" value="{{componentName::input}}"></input>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
    <!--  <div component-name="login-usuario"><login-usuario></login-usuario></div> -->
      <div component-name="view-usuarios"><view-usuarios></view-usuarios></div>
      <div component-name="view-aperturas"><view-aperturas></view-aperturass></div>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PruebaEjemplo extends Polymer.Element {
      static get is() { return 'prueba-ejemplo'; }
      static get properties() {
        return {
          componentName : {
            type : String
          }
        };
      }
    }

    window.customElements.define(PruebaEjemplo.is, PruebaEjemplo);
  </script>
</dom-module>
